.tab_nav{
	display: flex;
	justify-content: center;
	align-items: center;

	&_element{
		margin: 0 44px;

		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
		/* identical to box height */

		letter-spacing: 0.24em;
		text-decoration-line: underline;
		text-transform: uppercase;

		color: #426DA9;

		cursor: pointer;
		opacity: 1;

		transition: all 0.3s ease;

		&:hover{
			opacity: 0.8;
		}

		&.active{
			font-weight: bold;
			text-decoration-line: none;
			color: #000000;
		}
	}
}
