/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  /* Needed for mobile WebKit */
  -moz-box-sizing: border-box;
  /* Needed for Firefox */
  box-sizing: border-box; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face{
	font-family:Proxima;  
	src:url(/bitrix/templates/main/fonts/Proxima/Proxima_Nova_Regular.otf);
	font-weight:400;
	font-style:normal}
	
@font-face{
	font-family:ProximaS;  
	src:url(https://inobitec.com/bitrix/templates/main/fonts/Proxima/Proxima_Nova_Regular.otf);
	font-weight:400;
	font-style:normal}

html {
  min-height: 100%; }

body {
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: Proxima, sans-serif;
  min-height: 100%;
  font-size: 14px;
  background: #f4f4f4; }

* {
  outline: none; }

.manual__page {
  min-height: 100%;
  height: 100%;
  display: table;
  width: 100%; }

.manual__left {
  vertical-align: top;
  display: table-cell;
  position: relative;
  float: left;
  width: 550px;
  background: #f4f4f4;
  overflow: hidden; }
  .manual__left .inn {
    padding: 25px 30px; }
  .manual__left .links {
    margin: 0 0 45px 0; }
    .manual__left .links a {
      display: block;
      height: 40px;
      float: left;
      padding: 0 30px;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 600;
      border: 2px solid #7ba4db;
      border-radius: 10px;
      line-height: 36px;
      color: #0090d9; }
      .manual__left .links a:first-child {
        margin-right: 10px; }
      .manual__left .links a.active {
        background: #7ba4db;
        color: #fff; }

.manual__left.slim .inn {
  padding: 25px 10px; }

.manual__left.slim .links a {
  width: auto;
  max-width: 300px;
  text-align: center;
  float: none;
  padding: 0; }
  .manual__left.slim .links a:first-child {
    margin: 0 0 10px 0; }

.manual__close-left {
  position: absolute;
  right: -30px;
  top: 45px;
  display: block;
  width: 30px;
  height: 40px;
  font-size: 0;
  line-height: 0;
  background: url(img/man_close_arr.png) 8px 10px no-repeat #c3e0ef; }
  .manual__close-left.closed {
    background-position: -79px 10px; }

.manual__logo {
  margin: 0 0 0px 0; }

.manual__menu ul {
  list-style: none;
  margin: 0;
  padding: 0; }
  .manual__menu ul li {
    list-style: none;
    margin: 0 0 13px 0;
    padding: 0 0 0 25px;
    position: relative; }
    .manual__menu ul li .ext {
      position: absolute;
      left: 0;
      top: 2px;
      background: url(img/man_ext_ico.png) left top no-repeat transparent;
      display: block;
      width: 14px;
      height: 14px; }
    .manual__menu ul li a {
      display: block;
      text-decoration: none;
      color: #000;
      padding: 0 0 0 25px; }
      .manual__menu ul li a.section {
        background: url("img/man_section_ico.png") left top no-repeat transparent; }
        .manual__menu ul li a.section.active {
          background: url("img/man_section_ico.png") left -84px no-repeat transparent; }
      .manual__menu ul li a.item {
        background: url(img/man_item_ico.png) left 3px no-repeat transparent; }
      .manual__menu ul li a.active {
        font-weight: 600; }
      .manual__menu ul li a:hover {
        color: #0090d9; }
    .manual__menu ul li.active > a {
      font-weight: 600; }
    .manual__menu ul li.active > ul {
      display: block; }
    .manual__menu ul li.active > .ext {
      background-position: left -86px; }
  .manual__menu ul ul {
    display: none;
    margin: 13px 0 13px 0; }

.manual__right {
  vertical-align: top;
  display: table-cell;
  background: #fff;
  font-size: 18px;
  line-height: 1.4em;
  padding: 40px; }
  .manual__right img {
    max-width: 100%; }
  .manual__right .inn {
    min-height: 50px;
    margin-left: 10px; }
  .manual__right .header-block {
    padding: 0 0 20px 0;
    margin: 0 0 40px 0;
    border-bottom: 1px solid #bfbfbf; }
    .manual__right .header-block h1 {
      font-weight: 700;
      margin: 40px 0 0 0;
      line-height: 1.4em;
      font-size: 2em; }
    .manual__right .header-block .product-name {
      font-weight: 700;
      float: left;
      color: #0090d9;
      font-size: 1.22222em;
      line-height: 50px; }
    .manual__right .header-block .search-block {
      float: right; }
      .manual__right .header-block .search-block form input[type=text] {
        width: 280px;
        height: 50px;
        background: #fff;
        border: 2px solid #c1c1c1;
        float: left;
        margin: 0 10px 10px 0;
        border-radius: 10px;
        padding: 0 0 0 20px; }
        .manual__right .header-block .search-block form input[type=text]:hover, .manual__right .header-block .search-block form input[type=text]:focus {
          border-color: #8c8c8c; }
      .manual__right .header-block .search-block form input[type=submit] {
        font-size: 14px;
        width: 120px;
        height: 50px;
        background: #fff;
        border: 2px solid #7ba4db;
        float: left;
        border-radius: 10px;
        text-transform: uppercase;
        font-weight: 700;
        color: #7ba4db;
        line-height: 44px; }
        .manual__right .header-block .search-block form input[type=submit]:hover {
          background: #7ba4db;
          color: #fff; }

.manual__right.slim {
  font-size: 16px;
  padding: 40px; }
  .manual__right.slim .product-name {
    float: none; }
  .manual__right.slim .search-block {
    float: none; }
    .manual__right.slim .search-block form input[type=text] {
      width: 200px;
      height: 40px;
      line-height: 32px;
      border-radius: 8px;
      padding: 0 0 0 10px; }
    .manual__right.slim .search-block form input[type=submit] {
      width: 100px;
      height: 40px;
      line-height: 32px;
      border-radius: 8px; }

.manual__resizer {
  width: 10px;
  background: #c3e0ef;
  cursor: ew-resize;
  position: relative;
  display: table-cell; }
  .manual__resizer .fixer {
    width: 10px; }

.manual__footer {
  background: #f4f4f4;
  text-align: center;
  border-top: 10px solid #c3e0ef;
  padding: 50px 0; }
  .manual__footer ul {
    margin: 0;
    padding: 0; }
    .manual__footer ul li {
      display: inline-block;
      margin: 0 35px;
      padding: 0; }
      .manual__footer ul li a {
        color: #000;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 600; }
  .manual__footer .copy {
    margin: 40px 0 0 0; }

.manual__image {
  text-align: center;
  font-style: italic;
  font-size: 0.77778em;
  margin: 40px 0 20px 0; }
  .manual__image img {
    margin: 0 0 20px 0; }

.search-page a {
  color: #0090d9;
  font-weight: 600;
  border-bottom: 1px solid #7fc7ec;
  text-decoration: none; }
  .search-page a:hover {
    color: #ff3d5d;
    border-color: #ff9eae; }
  .search-page a b {
    color: #ff3d5d; }

.search-page__item {
  margin: 0 0 40px 0;
  padding: 0 0 0 40px;
  position: relative; }
  .search-page__item .number {
    position: absolute;
    left: 0;
    top: 0; }
  .search-page__item .text {
    margin-top: 20px;
    font-size: 0.88889em; }
    .search-page__item .text b {
      color: #ff3d5d; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }


/*From LaTeX*/

 
/* start css.sty */
.ectt-1200{ font-family: monospace;}
.ectt-1200{ font-family: monospace;}
.ectt-1200{ font-family: monospace;}
.ectt-1200{ font-family: monospace;}
.ectt-1200{ font-family: monospace;}
.ectt-1200{ font-family: monospace;}
.ectt-1200{ font-family: monospace;}
.ectt-1200{ font-family: monospace;}
.ectt-1200{ font-family: monospace;}
.ecrm-1095{font-size:83%;}
.ecbx-2488{font-size:200%; font-weight: bold;}
.ecbx-2488{ font-weight: bold;}
.ecbx-2488{ font-weight: bold;}
.ecbx-2488{ font-weight: bold;}
.ecbx-2488{ font-weight: bold;}
.ecbx-2488{ font-weight: bold;}
.ecbx-2488{ font-weight: bold;}
.ecbx-2488{ font-weight: bold;}
.ecbx-2488{ font-weight: bold;}
.ecbx-1200{ font-weight: bold;}
.ecbx-1200{ font-weight: bold;}
.ecbx-1200{ font-weight: bold;}
.ecbx-1200{ font-weight: bold;}
.ecbx-1200{ font-weight: bold;}
.ecbx-1200{ font-weight: bold;}
.ecbx-1200{ font-weight: bold;}
.ecbx-1200{ font-weight: bold;}
.ecbx-1200{ font-weight: bold;}
.ecbx-2074{font-size:166%; font-weight: bold;}
.ecbx-2074{ font-weight: bold;}
.ecbx-2074{ font-weight: bold;}
.ecbx-2074{ font-weight: bold;}
.ecbx-2074{ font-weight: bold;}
.ecbx-2074{ font-weight: bold;}
.ecbx-2074{ font-weight: bold;}
.ecbx-2074{ font-weight: bold;}
.ecbx-2074{ font-weight: bold;}
.ecti-1200{ font-style: italic;}
.ecti-1200{ font-style: italic;}
.ecti-1200{ font-style: italic;}
.ecti-1200{ font-style: italic;}
.ecti-1200{ font-style: italic;}
.ecti-1200{ font-style: italic;}
.ecti-1200{ font-style: italic;}
.ecti-1200{ font-style: italic;}
.ecti-1200{ font-style: italic;}
.ecrm-1000{font-size:83%;}
.ecbi-1200{ font-weight: bold;   font-style: italic;}
.ecbi-1200{ font-weight: bold;   font-style: italic;}
.ecbi-1200{ font-weight: bold;   font-style: italic;}
.ecbi-1200{ font-weight: bold;   font-style: italic;}
.ecbi-1200{ font-weight: bold;   font-style: italic;}
.ecbi-1200{ font-weight: bold;   font-style: italic;}
.ecbi-1200{ font-weight: bold;   font-style: italic;}
.ecbi-1200{ font-weight: bold;   font-style: italic;}
.ecbi-1200{ font-weight: bold;   font-style: italic;}
p.noindent { text-indent: 0em }
td p.noindent { text-indent: 0em; margin-top:0em; }
p.nopar { text-indent: 0em; }
p.indent{ text-indent: 1.5em }
@media print {div.crosslinks {visibility:hidden;}}
a img { border-top: 0; border-left: 0; border-right: 0; }
center { margin-top:1em; margin-bottom:1em; }
td center { margin-top:0em; margin-bottom:0em; }
.Canvas { position:relative; }
img.math{vertical-align:middle;}
li p.indent { text-indent: 0em }
li p:first-child{ margin-top:0em; }
li p:last-child, li div:last-child { margin-bottom:0.5em; }
li p~ul:last-child, li p~ol:last-child{ margin-bottom:0.5em; }
.enumerate1 {list-style-type:decimal;}
.enumerate2 {list-style-type:lower-alpha;}
.enumerate3 {list-style-type:lower-roman;}
.enumerate4 {list-style-type:upper-alpha;}
div.newtheorem { margin-bottom: 2em; margin-top: 2em;}
.obeylines-h,.obeylines-v {white-space: nowrap; }
div.obeylines-v p { margin-top:0; margin-bottom:0; }
.overline{ text-decoration:overline; }
.overline img{ border-top: 1px solid black; }
td.displaylines {text-align:center; white-space:nowrap;}
.centerline {text-align:center;}
.rightline {text-align:right;}
div.verbatim {font-family: monospace; white-space: nowrap; text-align:left; clear:both; }
.fbox {padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.fbox {display:table}
div.center div.fbox {text-align:center; clear:both; padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.minipage{width:100%;}
div.center, div.center div.center {text-align: center; margin-left:1em; margin-right:1em;}
div.center div {text-align: left;}
div.flushright, div.flushright div.flushright {text-align: right;}
div.flushright div {text-align: left;}
div.flushleft {text-align: left;}
.underline{ text-decoration:underline; }
.underline img{ border-bottom: 1px solid black; margin-bottom:1pt; }
.framebox-c, .framebox-l, .framebox-r { padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
.framebox-c {text-align:center;}
.framebox-l {text-align:left;}
.framebox-r {text-align:right;}
span.thank-mark{ vertical-align: super }
span.footnote-mark sup.textsuperscript, span.footnote-mark a sup.textsuperscript{ font-size:80%; }
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 1px; margin:0px; }
.tabbing-right {text-align:right;}
span.TEX {letter-spacing: -0.125em; }
span.TEX span.E{ position:relative;top:0.5ex;left:-0.0417em;}
a span.TEX span.E {text-decoration: none; }
span.LATEX span.A{ position:relative; top:-0.5ex; left:-0.4em; font-size:85%;}
span.LATEX span.TEX{ position:relative; left: -0.4em; }
div.float, div.figure {margin-left: auto; margin-right: auto;}
div.float img {text-align:center;}
div.figure img {text-align:center;}
.marginpar {width:20%; float:right; text-align:left; margin-left:auto; margin-top:0.5em; font-size:85%; text-decoration:underline;}
.marginpar p{margin-top:0.4em; margin-bottom:0.4em;}
table.equation {width:100%;}
.equation td{text-align:center; }
td.equation { margin-top:1em; margin-bottom:1em; } 
td.equation-label { width:5%; text-align:center; }
td.eqnarray4 { width:5%; white-space: normal; }
td.eqnarray2 { width:5%; }
table.eqnarray-star, table.eqnarray {width:100%;}
div.eqnarray{text-align:center;}
div.array {text-align:center;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.pmatrix img{vertical-align:middle;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.bar-css {text-decoration:overline;}
img.cdots{vertical-align:middle;}
.partToc a, .partToc, .likepartToc a, .likepartToc {line-height: 200%; font-weight:bold; font-size:110%;}
.chapterToc a, .chapterToc, .likechapterToc a, .likechapterToc, .appendixToc a, .appendixToc {line-height: 200%; font-weight:bold;}
.index-item, .index-subitem, .index-subsubitem {display:block}
br.index-segment:first-child {display:none}
.index-item br, .index-subitem br, .index-subsubitem br {display:none}
div.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:left;}
div.caption span.id{font-weight: bold; white-space: nowrap; }
h1.partHead{text-align: center}
p.bibitem { text-indent: -2em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
p.bibitem-p { text-indent: 0em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
.paragraphHead, .likeparagraphHead { margin-top:2em; font-weight: bold;}
.subparagraphHead, .likesubparagraphHead { font-weight: bold;}
.quote {margin-bottom:0.25em; margin-top:0.25em; margin-left:1em; margin-right:1em; text-align:justify;}
.verse{white-space:nowrap; margin-left:2em}
div.maketitle {text-align:center;}
h2.titleHead{text-align:center;}
div.maketitle{ margin-bottom: 2em; }
div.author, div.date {text-align:center;}
div.thanks{text-align:left; margin-left:10%; font-size:85%; font-style:italic; }
div.author{white-space: nowrap;}
.quotation {margin-bottom:0.25em; margin-top:0.25em; margin-left:1em; }
h1.partHead{text-align: center}
.abstract p {margin-left:5%; margin-right:5%;}
div.abstract {width:100%;}
.figure img.graphics {margin-left:10%;}
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
div.longtable{text-align:center;}
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 1px; margin:0px; }
div.array {text-align:center;}
/* end css.sty */

